<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-controller="StoreController as store">
	
	<div ng-repeat="product in store.products">	
		<section ng-init="tab = 1">
			<ul class="nav nav-pills">
			
				<div class="panel">
					<h4>Name</h4>
					<p>{{product.name}}</p>
				</div>
			
		  		<li role="presentation">
		  			<li ng-class="{active:tab == 1}">
		  				<a href ng-click="tab = 1">Price</a>
		  			</li>
		  		</li>
		  		<li role="presentation">
		  			<li ng-class="{active:tab == 2}">
		  				<a href ng-click="tab = 2">Description</a>
		  			</li>
		  		</li>
			</ul>

			<div class="panel" ng-show="tab == 1">
				<h4>Price</h4>
				<p>{{product.price | currency}}</p>
			</div>

			<div class="panel" ng-show="tab == 2">
				<h4>Description</h4>
				<p>{{product.desc}}</p>
			</div>		
		</section>
	</div>
	
	<script type="text/javascript" src="js/angular.min.js"></script>	
	<script type="text/javascript" src="js/store.js"></script>
</body>
</html>